<div id="login-page">
  <div class="video-overlay">
    <video class="background-video" autoplay loop muted playsinline>
      <source src="<%= asset_path('test.mov') %>" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="login-container">
    <h2>Password Reset</h2>

    <% if !flash[:reseterr].present? %>
      <%= form_for @user, url: password_reset_url(@user.reset_password_token) do |f| %>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control', placeholder: "Enter your password" %>
          </div>

          <%= f.submit "Reset Password", class: 'btn btn-primary' %>

        <% end %>
      <% end %>
    
    <% if flash[:reseterr].present? %>
      <div class="alert alert-danger">
        <%= flash[:reseterr] %>
      </div>
    <% end %>
  </div>
</div>