<div id="registration-page">
  <div class="video-overlay">
    <video class="background-video" autoplay loop muted playsinline>
      <source src="<%= asset_path('test.mov') %>" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="form-container">
    <h1>Create Account</h1>

    <%= form_for @user, url: signup_path do |f| %>
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control', placeholder: "Enter your username" %>
        <% if @user.errors[:username].any? %>
          <div class="alert alert-danger">
            <%= @user.errors[:username].join(", ") %>
          </div>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control', placeholder: "Enter your email" %>
        <% if @user.errors[:email].any? %>
          <div class="alert alert-danger">
            <%= @user.errors[:email].join(", ") %>
          </div>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control', placeholder: "Enter your password" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm your password" %>
      </div>

      <% if @user.errors[:password].any? %>
        <div class="alert alert-danger">
          <%= @user.errors[:password].join(", ") %>
        </div>
      <% end %>

      <%= f.submit "Sign Up", class: 'btn btn-primary' %>
    <% end %>

    <% if flash[:alert].present? %>
      <div class="alert alert-danger">
        <%= flash[:alert] %> <!-- This will display the error message -->
      </div>
    <% end %>
  </div>
</div>
