<h1>Create Account</h1>

<%= form_for @user, url: signup_path do |f| %>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.submit "Sign Up" %>
  </div>
<% end %>

<% if flash[:alert].present? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %> <!-- This will display the error message -->
  </div>
<% end %>
