<div class="dark-mode-theme">
  <div class="container">
    <div class="main-layout">
      <!-- Left Column -->
      <aside class="left-column">
        <!-- Red Button -->
        <%= link_to 'Return to Menu', games_path, class: 'red-button' %>

        <div class="profile">
          <div class="profile-picture-placeholder">[Profile Picture]</div>
          <div class="username-placeholder"><%= @user_name %></div>
        </div>
        <div class="stats">
        <% @stats.each do |stat| %>
          <div class="stat">
            <span class="stat-name"><%= stat[:name] %>:</span> 
            <span class="stat-value"><%= stat[:value] %></span>
          </div>
        <% end %>
      </div>
      </aside>


      <!-- Middle Grid -->
      <main class="grid-container">
        <% 6.times do %>
          <div class="grid-row">
            <% 6.times do %>
              <div class="grid-square">
                <div class="square-content">
                  <%= image_tag 'castle.PNG', alt: 'Map Tile', class: 'image-class' %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </main>

      <!-- Right Column (Player List) -->
      <aside class="right-column">
        <div class="player-list">
          <% if @players.present? %>
            <% @players.each do |player| %>
              <div class="player">
                <img class="player-picture" src="<%='placeholder.jpg' %>" alt="Player Picture">
                <div class="player-details">
                  <div class="player-username"><%= player.user.username %></div>
                  <div class="player-stats">
                    
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <p>No players found.</p>
          <% end %>
        </div>
      </aside>
    </div>

    <!-- Chat Section -->
    <div class="chat-section">
      <div class="chat-messages" id="chat-messages"></div>
      <div class="chat-input">
        <input type="text" id="chat-input" placeholder="Type a message..." />
        <button id="send-button">Send</button>
      </div>
    </div>
  </div>
</div>
