<h1>Games Menu</h1>

<li>Current user username: </li>

<%= form_for Game.new, url: games_path, html: { method: :post, local: true } do |form| %>
    <%= form.label :name, 'Game Name:' %>
    <%= form.text_field :name %>
    <%= form.submit 'Create Game' %>
<% end %>
  

<%= form_tag join_games_path, method: :post, local: true do %>
  <%= label_tag :code, 'Game Code:' %>
  <%= text_field_tag :code %>
  <%= submit_tag 'Join Game' %>
<% end %>

<h3>Games List</h3>
<ul>
  <% @games.each do |game| %>
    <li><strong>Name:</strong> <%= game.name %> | <strong>Code:</strong> <%= game.code %></li>
  <% end %>
</ul>

