<style>
  .current-user {
    display: flex;
    flex-direction: column;
  }
  .user-avatar {
    width: 100px; /* Set consistent width */
    height: 100px; /* Set consistent height */
    object-fit: cover; /* Ensures the image fills the space without distortion */
    border-radius: 50%; /* Optional: Makes the image circular */
    border: 2px solid #ccc; /* Optional border */
  }
</style>

<div id="games-menu">
  <div class="current-user">
      <% if current_user.avatar.attached? %>
          <%= image_tag url_for(current_user.avatar), alt: "User Avatar", class: "user-avatar" %>
      <% else %>
          <p>No avatar uploaded.</p>
      <% end %>
      <%= current_user.username %>
  </div>

  <div class="buttons-container">
    <%= link_to "Logout", logout_path, method: :get, class: "logout-button" %>
    <%= link_to "Shop", store_path, class: "shop-button" %>
    <%= link_to "Account", account_path, class: "account-button" %>
    <%= link_to 'Credit Card', credit_card_redirect_path, class: 'credit-card-button' %>
  </div>

  <div class="form-container">
    <%= form_for Game.new, url: games_path, html: { method: :post, local: true } do |form| %>
      <div>
        <%= form.label :name, 'Game Name:' %>
        <%= form.text_field :name %>
      </div>
      <%= form.submit 'Create Game', class: 'button' %>
    <% end %>

    <%= form_tag join_games_path, method: :post, local: true do %>
      <div>
        <%= label_tag :code, 'Game Code:' %>
        <%= text_field_tag :code %>
      </div>
      <%= submit_tag 'Join Game', class: 'button' %>
    <% end %>
  </div>

  <div class="games-list-container">
    <h3>Games List</h3>
    <ul>
      <% @games.each do |game| %>
        <li><strong>Name:</strong> <%= game.name %> | <strong>Code:</strong> <%= game.code %></li>
      <% end %>
    </ul>
  </div>
</div>