<div id="games-menu">
  <div class="current-user">
    Current User: <%= current_user.username %>
  </div>

  <div class="form-container">
    <%= form_for Game.new, url: games_path, html: { method: :post, local: true } do |form| %>
      <div>
        <%= form.label :name, 'Game Name:' %>
        <%= form.text_field :name %>
      </div>
      <%= form.submit 'Create Game', class: 'button' %>
    <% end %>

    <%= form_tag join_games_path, method: :post, local: true do %>
      <div>
        <%= label_tag :code, 'Game Code:' %>
        <%= text_field_tag :code %>
      </div>
      <%= submit_tag 'Join Game', class: 'button' %>
    <% end %>
  </div>

  <div class="games-list-container">
    <h3>Games List</h3>
    <ul>
      <% @games.each do |game| %>
        <li><strong>Name:</strong> <%= game.name %> | <strong>Code:</strong> <%= game.code %></li>
      <% end %>
    </ul>
  </div>

  <div id="user-search-container">
    <h3>Search for Users</h3>
    <%= form_tag games_path, method: :get, class: "search-form" do %>
      <div>
        <%= label_tag :search, "Search Users:" %>
        <%= text_field_tag :search, params[:search], placeholder: "Enter username" %>
      </div>
      <%= submit_tag "Search", class: "button" %>
    <% end %>
  </div>

  <div id="users-list-container">
    <h3>Search Results</h3>
    <ul>
      <% @users.each do |user| %>
        <li>
          <strong>Username:</strong> <%= user.username %> | 
          <strong>Email:</strong> <%= user.email %>
          <%= button_to "Add Friend", "#", method: :post, class: "button add-friend-button", disabled: true %>
        </li>
      <% end %>
    </ul>

    <% if @users.empty? %>
      <p>No users found matching your search.</p>
    <% end %>
  </div>



</div>