<div id="games-menu">
  <span class="current-user">
    Current User: <%= current_user.username %>
  </span>
  <%= link_to "Logout", logout_path, method: :get, class: "logout-button" %>

  <div class="form-container">
    <%= form_for Game.new, url: games_path, html: { method: :post, local: true } do |form| %>
      <div>
        <%= form.label :name, 'Game Name:' %>
        <%= form.text_field :name %>
      </div>
      <%= form.submit 'Create Game', class: 'button' %>
    <% end %>

    <%= form_tag join_games_path, method: :post, local: true do %>
      <div>
        <%= label_tag :code, 'Game Code:' %>
        <%= text_field_tag :code %>
      </div>
      <%= submit_tag 'Join Game', class: 'button' %>
    <% end %>
  </div>

  <div class="games-list-container">
    <h3>Games List</h3>
    <ul>
      <% @games.each do |game| %>
        <li><strong>Name:</strong> <%= game.name %> | <strong>Code:</strong> <%= game.code %></li>
      <% end %>
    </ul>
  </div>

  <div id="user-search-container">
    <h3>Search for Users</h3>
    <%= form_tag games_path, method: :get, class: "search-form" do %>
      <div>
        <%= label_tag :search, "Search Users:" %>
        <%= text_field_tag :search, params[:search], placeholder: "Enter username" %>
      </div>
      <%= submit_tag "Search", class: "button" %>
    <% end %>

    <div id="users-list-container">
    <h3>Search Results</h3>
    <% if @users.present? %>
      <ul>
        <% @users.each do |user| %>
          <li>
            <span><strong>Username:</strong> <%= user.username %></span>
            <span><strong>id:</strong> <%= user.id %></span>
            <% if current_user.friends.include?(user) %>
              <%= button_to "Remove Friend", remove_friend_games_path(friend_id: user.id), method: :delete, class: "button remove-friend-button" %>
            <% else %>
              <%= button_to "Add Friend", add_friend_games_path(friend_id: user.id), method: :post, class: "button add-friend-button" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No users found matching your search.</p>
    <% end %>
  </div>
  </div>


  <div id="friends-list-container">
    <h3>Your Friends</h3>
    <% if current_user.friends.present? %>
      <ul>
        <% current_user.friends.each do |friend| %>
          <li>
            <span><strong>Username:</strong> <%= friend.username %></span>
            <span><strong>ID:</strong> <%= friend.id %></span>
            <%= form_tag chat_with_user_path, method: :get, class: "inline-form" do %>
              <%= hidden_field_tag :friend_id, friend.id %>
              <%= submit_tag "Chat", class: "button chat-button" %>
            <% end %>
            <%= button_to "Remove Friend", remove_friend_games_path(friend_id: friend.id), method: :delete, class: "button remove-friend-button" %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>You have no friends yet.</p>
    <% end %>
  </div>
</div>