<div id="account-menu">
  <span class="current-user">
    Current User: <%= current_user.username %>
  </span>
  <div class="account-buttons">
    <%= link_to "Logout", logout_path, method: :get, class: "account-logout-button" %>
    <%= link_to "Menu", games_path, class: "account-menu-button" %>
    <%= link_to "Inventory", inventory_index_path, class: "account-inventory-button" %>
  </div>

  <div class="account-sections">

    <div class="user-stats-container">
      <img src="<%= asset_path(@image) %>" width="100" height="100">
      <% @stats.each do |stat| %>
        <div class="account-stats">
          <span class="account-stats-name"><%= stat[:name] %>:</span>
          <span class="account-stats-value"><%= stat[:value] %></span>
        </div>
      <% end %>
    </div>

    <div id="user-search-container">
      <h3>Search for Users</h3>
      <%= form_tag account_path, method: :get, class: "search-form" do %>
        <div>
          <%= label_tag :search, "Search Users:" %>
          <%= text_field_tag :search, params[:search], placeholder: "Enter username" %>
        </div>
        <%= submit_tag "Search", class: "button" %>
      <% end %>

      <div id="users-list-container">
        <h3>Search Results</h3>
        <% if @users.present? %>
          <ul>
            <% @users.each do |user| %>
              <li>
                <span><strong>Username:</strong> <%= user.username %></span>
                <% if current_user.friends.include?(user) %>
                  <%= button_to "Remove Friend", remove_friend_path(friend_id: user.id), method: :delete, class: "button remove-friend-button" %>
                <% else %>
                  <%= button_to "Add Friend", add_friend_path(friend_id: user.id), method: :post, class: "button add-friend-button" %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>No users found matching your search.</p>
        <% end %>
      </div>
    </div>

    <div id="friends-list-container">
      <h3>Your Friends</h3>
      <% if current_user.friends.present? %>
        <ul>
          <% current_user.friends.each do |friend| %>
            <li>
              <span><strong>Username:</strong> <%= friend.username %></span>
              <%= form_tag chat_with_user_path, method: :get, class: "inline-form" do %>
                <%= hidden_field_tag :friend_id, friend.id %>
                <%= submit_tag "Chat", class: "button chat-button" %>
              <% end %>
              <%= button_to "Remove Friend", remove_friend_path(friend_id: friend.id), method: :delete, class: "button remove-friend-button" %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>You have no friends yet.</p>
      <% end %>
    </div>
  </div>
</div>
