<!DOCTYPE html>
<html>
<head>
  <title>ShardsOfTheGrid</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <%= yield :stylesheets %> <!-- This will include the view-specific stylesheets -->
</head>
<body>
<!-- Flash Messages Section -->

<%= yield %> <!-- Main content of the view will be inserted here -->
</body>
</html>